:root
{
    --blue : #2C2546;
    --dark-blue : #1B1535;
    --green : #00EB09;
    --white : #fff;
}

*
{
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

body
{
    background-color: var(--dark-blue);
    color: var(--white);
}

.title__list
{
    text-align: center;
    background-color: var(--blue);
    opacity: 0.8;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
}

footer{
    padding: 2rem;
    margin-top: 4rem;
    background-color: var(--blue);
 }
 .footer-title {
    margin-bottom: 1rem;
    font-weight: 600;
    border-radius: 5px;
 }
 footer ul li a{
    color: var(--white);
 }
 footer ul li a:hover{
    color: var(--slate-500);
 }

.table
{
    justify-content: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
    padding: 1rem;
}

.th
{
    color: var(--green);
}