/* 
  Inspired from 
  Settings - Daily UI 007
  by Dillon Morris
  https://dribbble.com/shots/4290939-Settings-Daily-UI-007
*/

.container a {
    color: #000000;
    text-decoration: none;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }

body,html{
    height:100%;
}
h2{
    font-weight: bolder;
    color: #898dbf;
}

form{
    width:550px;
}

form *{
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}

form .form-control,form .form-control:focus{
    border-color:transparent;
    border-bottom-color: #bebcc1;
    box-shadow:none;
}

form .btn{ 
    border-radius: 0px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#8f9096;
}

.btn.btn-primary{
    background: #6c63ff;
    color:white;
}
.sidebar {
    height: 100vh !important;
    bottom: 0;
    padding-left:20px;
    font-size: 1.3rem;
    background: #6c63ff;
}

@media screen and (max-width:940px){
    .sidebar{
        font-size: 1rem;
        padding-left :0px;
    }
}


.sidebar .nav-link{
    margin-bottom: 20px;
    color:#dddce5;
}

.nav-link.active{
    color:#fff;
}

.main > .row{
    height: 100%;
}

@media screen and (max-width:768px){
    .content{
        padding-left:50px; 
        width: 100%;
        padding-top: 200px;
        padding-bottom: 50px;
    }
    
    form{
        width: 100%;
        margin:auto;
    }
    
}

.menu {
    position: absolute;
    right: 10%;
    top:30px;
    margin:auto;
    display: none;  
    cursor:pointer;
    z-index: 5;
    height: 33px;
    width:30px;
}

.bar,.bar:after,.bar:before {
    width:30px;
    height:3px;
    background: #6c63ff;
    transition: all 0.2s;
}

.bar{
    position: relative;
}

.bar:after {
    position: absolute;
    content: '';
    left:0;
    top:10px;
    transition: top 0.2s 0.2s,transform 0.2s;
}

.bar:before {
    position: absolute;
    content: '';
    left:0;
    bottom:10px;
    transition: bottom 0.2s 0.2s,transform 0.2s;
}
.bar.animate{
    background: transparent;
}
.bar.animate:after{
    top:0;
    transform: rotate(45deg);
    transition: top 0.2s ,transform 0.2s 0.2s;
    background: #fff;
}

.bar.animate:before{
    bottom:0;
    transform: rotate(-45deg);
    transition: bottom 0.2s,transform 0.2s  0.2s;
    background: #fff;
}

.expand-menu {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #6c63ff;
    transition: width 0.5s;
    width: 0%;
}

.expand-menu .nav-link{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    color:#dddce5;
    font-size:1.5rem;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.expand-menu .nav-link.animate{
    display: block;
}

.expand-menu .nav-link.animate-show{
    opacity:1;
}

.expand-menu .nav-link.active{
    color:#fff;
}

.expand-menu.animate{
    width : 100%;
}