<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Harga Valorant</title>
    <link rel="stylesheet" href="harga.css">
</head>
<body>
    <section class="list-ff">
        <div class="container">
            <h1 class="title__list">LIST HARGA LENGKAP <span class="th">VALORANT RiShop</span></h1>            
            <table border="5" class="table">
                <tr>
                    <th class="th">NOMINAL VP</th>
                    <th class="th">HARGA NORMAL</th>
                </tr>
        
                <tr>
                    <td>300VP</td>
                    <td>Rp 33.000</td>
                </tr>
                <tr>
                    <td>625VP</td>
                    <td>Rp 66.000</td>
                </tr>
                <tr>
                    <td>925VP</td>
                    <td>Rp 99.700</td>
                </tr>
                    <td>1125VP</td>
                    <td>Rp 115.500</td>
                <tr>
                    <td>1425VP</td>
                    <td>Rp 148.500</td>
                </tr>
                <tr>
                    <td>1650VP</td>
                    <td>Rp 165.000</td>
                </tr>
                <tr>
                    <td>1950VP</td>
                    <td>Rp 198.000</td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>